################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/LightsOut/v16
/LightsOut/x64/Release
/x64/Release
