################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/LightsOut/v15
/x64/Release/Shaders/Render/VertexShader.cso
/x64/Release/Shaders/Render/PixelShader.cso
/x64/Release/Shaders/Compute/ComputeFieldRaindrops.cso
/x64/Release/Shaders/Compute/ComputeFieldCircles.cso
/x64/Release/Shaders/Compute/ComputeFieldChains.cso
/x64/Release/Shaders/Compute/ComputeField.cso
/x64/Release/LightsOut.pdb
/x64/Release/LightsOut.ipdb
/x64/Release/LightsOut.iobj
/x64/Release/LightsOut.exe
/LightsOut.v12.suo
/LightsOut/x64/Release/vcpkg.applocal.log
/LightsOut/x64/Release/vc141.pdb
/LightsOut/x64/Release/RenderStates.obj
/LightsOut/x64/Release/main.obj
/LightsOut/x64/Release/LOTextures.obj
/LightsOut/x64/Release/LOShaderVariables.obj
/LightsOut/x64/Release/LOShaders.obj
/LightsOut/x64/Release/LOScreenQuad.obj
/LightsOut/x64/Release/LOSaver.obj
/LightsOut/x64/Release/LightsOutSolver.obj
/LightsOut/x64/Release/LightsOutGame.obj
/LightsOut/x64/Release/LightsOut.tlog/link.write.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/link.read.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/link.command.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/LightsOut.write.1u.tlog
/LightsOut/x64/Release/LightsOut.tlog/LightsOut.lastbuildstate
/LightsOut/x64/Release/LightsOut.tlog/fxc.write.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/fxc.read.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/fxc.command.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/CL.write.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/CL.read.1.tlog
/LightsOut/x64/Release/LightsOut.tlog/CL.command.1.tlog
/LightsOut/x64/Release/LightsOut.obj
/LightsOut/x64/Release/LightsOut.log
/LightsOut/x64/Release/FileDialog.obj
/.vs/LightsOut/v14/.suo
/Debug
/LightsOut/Debug
/LightsOut/Release
/LightsOut/x64
/TrueRelease
/Release
/x64/Debug
/LightsOut.sdf
/LightsOut.VC.db
/x64/Release/Shaders/Compute
/.vs/LightsOut/v16
